__pycache__/
src/__pycache__/
2D_Poses/
2D_Poses_test/
2D_Poses_50_unseen/
2D_Poses_300/
2D_Poses_300_unseen/
Penn_Action/
Gait3D-Benchmark/
Gait3D-Benchmark/datasets/
Gait3D-Benchmark/datasets/pretreatment.log
GT_frames/
nturgb+d_skeletons/
N_UCLA/
NTU_dataset.zip
*/pth
rtmlib/
N-UCLA_processed/
VIBE_results_temp/
*.zip
*.pt
*.txt
nohup.out
N_UCLA.txt
vids/
wget-log
*.npz
raw_data/
statistics/
denoised_data/
.env
*.pkl
*.h5
*.csv
*.json
*.mp4
*.avi
*.log
*.ckpt
vectorstores/
vids/
